{% extends 'base.html.twig' %}

{% block title %}Student list{% endblock %}

{% block body %}
    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Studentai</li>
        {% for key, team in data %}
            {% for student in team.students %}
                <li class="list-group-item">
                    <a class="list__link"
                       href="{{ path('app_student_show',{name:student,project:key}) }}">{{ student }}</a>
                    <span class="badge">{{ team.mentors|length >1?'Mentoriai':'Mentorius' }}</span> {{ team.mentors|join(', ') }}
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
    {% include 'form/form.html.twig' %}
    {% include  'project/index.html.twig' %}
    <div class="m-4">
        <a class="text-light" href="{{ path('app_student_getlist') }}">Duomenų failas</a>
    </div>
{% endblock %}

