{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Komandos</li>

        {% for team in process %}
            <li class="list-group-item">
                <div>
                    <h4>Komanda: <strong>{{ team["name"] }}</strong></h4>
                    <h4>Vadovas: <strong>{{ team["mentors"] [0] }}</strong></h4>
                    Komandos nariai:
                    <ul>
                    {% for student in team["students"] %}
                        <li>
                            <a href="{{ path('student', {'student':student}) }}">{{student}}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>

<a href="{{ path('student') }}">Student</a>
    <a href="{{ path('home') }}?student={{ '' }}"

{% endblock %}



