{% extends 'base.html.twig' %}

{% block title %}Projects list{% endblock %}

{% block body %}
    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Projektai</li>
        <li class="list-group-item">
            {% for key,project in data %}
                <h3>{{ project.name }}</h3>
                <div class="panel panel-default">
                    <div>
                        <a target="_blank"
                           href="https://github.com/nfqakademija/{{ key |url_encode }}">github.com/nfqakademija/{{ key }}</a>
                        <span class="badge">GitHub</span>
                    </div>
                    <div>
                        <a target="_blank" href="http://{{ key |url_encode }}.projektai.nfqakademija.lt/">{{ key }}
                            .projektai.nfqakademija.lt/</a>
                        <span class="badge">Web</span>
                    </div>
                    <div>
                        <pre>ssh {{ key }}@deploy.nfqakademija.lt -p 2222</pre>
                    </div>
                </div>
            {% endfor %}
        </li>
    </ul>
{% endblock %}
