{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <div id="root">Loading...</div>
    <noscript>To use this app, enable JavaScript</noscript>

    <div>
        Versijuojamas JavaScript failas: <b id="versionedFile">...</b>
    </div>
    <div>
        <label>Command name</label>
        <input type="text" id="commandName"/>
        <span id="validation-command-name" data-path="{{ path('validate', {'element': 'commandName'}) }}"></span>
    </div>
    <div>
        <label>Student name</label>
        <input type="text" id="studentName"/>
        <span id="validation-student-name" data-path="{{ path('validate', {'element': 'studentName'}) }}"></span>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var usingVersionedFileJs = true;
        var usingReactApp = true;
    </script>
    <script src="{{ asset('build/js/validation.js') }}"></script>
    {{ parent() }}
{% endblock %}
